<!DOCTYPE html>
<html>
<head>
  <title>DttItemDetailx</title>
  <%= stylesheet_link_tag    "dtt_item_detailx/application", media: "all" %>
  <%= javascript_include_tag "dtt_item_detailx/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
